body {
  background: #59abe3;
  margin: 0;
}

.Section {
  width: 240px;
  height: 270px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h3 {
  margin: 10px 0;
  padding-bottom: 10px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}

.StateName {
  text-transform: capitalize;
}
